body {
  background-color: lightgrey;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}


/* label color */
.input-field label {
 color: #e65100 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #e65100 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #e65100 !important;
 box-shadow: 0 1px 0 0 #e65100 !important;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #e65100 !important;
 box-shadow: 0 1px 0 0 #e65100 !important;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid#e65100 !important;
 box-shadow: 0 1px 0 0 #e65100 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color:#e65100 !important;
}

.pwdstrava{
    margin-top:5%;
}

/* Connexion Page */

blockquote {
    border-left: 5px solid #e65100 !important;
    text-align: justify;
}

.icon {
    width:20%;
    height:20%;
    margin-top:2%;
    margin-bottom:3%;
}

/* Auth Strava Page */
#content {
   margin-top:20%;
   margin-bottom:20%;
}
.back {
    position:relative;
    left:0;
    bottom:0;

}

/* Auth User Page */



.lines {
    width: 500px;
    height: 115px;
    padding: 0;
    margin: 0 auto;
    margin-bottom:5%;

}
.line1 {
    width: 215px;
    height: 45px;
    border-bottom: 5px dotted #e65100;
    -webkit-transform:
        translateY(68px)
        translateX(10px)
        rotate(145deg);
    position: absolute;
}
.line2 {
    width: 120px;
    height: 45px;
    border-bottom: 5px dotted #e65100;
    -webkit-transform:
        translateY(48px)
        translateX(210px)
        rotate(90deg);
    position: absolute;
}
.line3 {
    width: 215px;
    height: 45px;
    border-bottom: 5px dotted #e65100;
    -webkit-transform:
        translateY(39px)
        translateX(295px)
        rotate(37deg);
    position: absolute;
}



.ml_icon {
    width:20%;
    height:20%;
    margin-top:2%;
    margin-bottom:3%;
    margin-left:8%;
}

.underline_title {
    border-top: 1px solid #e65100;
    width:60%;
    margin-left:20%;
    margin-top:5%;
    margin-bottom:5%;
}

.collection .collection-item {
    background-color:lightgrey !important;
}

.activities_in_base, .routes_in_base, .models_in_base {
    font-family: 'Righteous', sans-serif;
    color: #e65100;
    font-size: 5em;
}

.registered_activities,
.last_registered_activity,
.no_new_activities,
.registered_routes,
.last_registered_route,
.no_new_routes,
.registered_models,
.last_registered_model {
    font-weight: bold;
    font-size:0.9em;
}

.info_last_activity,
.no_activities,
.info_last_route,
.no_routes,
.info_last_model,
.no_models {
    font-weight: bold;
    margin-top: 8%;
    color: #e65100;

}

/*
#info_activities,
#info_routes,
#info_models {
    border:3px solid green;
}

.activities_in_base,
.routes_in_base,
.models_in_base {
    border:3px solid red;
}
*/

.forward {
    position:relative;
    right:0;
    bottom:0;
}

#circle_loading{
  display: none;
}

#map_route, #map_segmentation_route{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    height:50%;
}

