.authstrava{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pwdstrava{
    position:fixed;
    bottom:0;
    right:0;
}



