<!DOCTYPE html>
<html>
<head>
    <title>Check user</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>


<div class="row form-user">
    <form class="col s12 " action="/" method="post">
        <div class="row">
            <div class="input-field col s4 offset-s2">
                <input id="first_name" name="first_name" type="text" class="validate">
                <label for="first_name">Prénom</label>
            </div>

            <div class="input-field col s4">
                <input id="last_name" name="last_name" type="text" class="validate">
                <label for="last_name">Nom</label>
            </div>
        </div>

        <p class="center-align">
            <input type="submit" value="submit" class="btn center-align">
        </p>

    </form>
</div>


<p class="pwdstrava">
    <img src="images/api_logo_pwrdBy_strava_horiz_light.png" alt="logo powered by strava">
</p>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>